/* --- Reset CSS --- */
* {
  all: unset;
  display: revert;
  box-sizing: border-box;
}
a:hover {
  cursor: pointer;
}
input {
  cursor: text;
}

/* --- Couleurs --- */
:root {
  --black1: #000000;
  --black2: #000814;
  --blue1: #001d3d;
  --blue2: #003566;
  --yellow1: #ffc300;
  --yellow2: #ffd60a;
  --grey1: #AEAEAE;
  --grey2: #D9D9D9;
  --white: #FFFFFF;
}

/* --- Typographies --- */
h1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 6.25em;
  background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-align: center;
}
h2 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2.625em;
  color: var(--blue2);
  text-align: center;
}
h3 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-align: center;
}
h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  line-height: normal;
  background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-align: center;
}
h5 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
  line-height: normal;
  color: var(--white);
  text-align: center;
}
p, li {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125em;
  line-height: 1.5;
  color: var(--black2);
  text-align: center;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

/* --- Général --- */
header {
  display: flex;
  flex-direction: column;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
section {
  width: 100%;
  padding: 80px 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.full-container {
  width: 100%;
}
.fle-dir-col-cen-bot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.grid-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 24px;
  overflow: hidden;
}
.titre {
  width: 100%;
  margin-bottom: 40px;
}
.texte-intro {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 60px;
}

/* --- CTA --- */
.cta {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.cta a {
  padding: 24px 52px;
  border-radius: 40px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}
.cta a:hover {
  background-color: var(--yellow2);
  color: var(--white);
}
.bg-yel {
  background-color: var(--yellow1);
  color: var(--white);
}
.bg-whi {
  background-color: var(--white);
  color: var(--black2);
}

/* --- Navigation --- */
.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--blue1);
  padding: 38px 60px;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.logo {
  width: 10%;
}
nav ul {
  width: 90%;
  padding: 0;
  margin: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 2fr 2fr;
  grid-gap: 12px;
}
nav li {
  padding-top: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.125em;
  color: var(--white);
}
nav li a {
  text-decoration: none;
}
nav li a:hover {
  text-decoration: none;
  color: var(--yellow2);
}
nav li a:active {
  text-decoration: none;
  color: var(--yellow2);
}
.nav-accueil {
  min-width: 100px;
  grid-column-start: 2;
  grid-column-end: 3;
}
.nav-la-carte {
  min-width: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
}
.nav-a-propos {
  min-width: 100px;
  grid-column-start: 4;
  grid-column-end: 5;
}
.nav-contact {
  min-width: 100px;
  grid-column-start: 5;
  grid-column-end: 6;
}
.nav-telephone {
  min-width: 100px;
  grid-column-start: 7;
  grid-column-end: 8;
  overflow: visible;
}
li.nav-telephone {
  position: relative;
  min-width: 200px;
  font-size: 1.5em;
  background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-align: right;
}
li.nav-telephone::before {
  position: absolute;
  content: url(/images/icons/icon-telephone.svg);
  left: 0;
  vertical-align: middle;
}

/* --- Page d'Accueil --- */
/* Header */
header {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  background: radial-gradient(50% 50% at 50% 50%, #003566 0%, #001D3D 50%, #000814 100%);
}
.header-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/bg-header-assiette.png);
  background-size: cover;
  background-position: center;
}
.slogan {
  width: 100%;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slogan h1 {
  padding-bottom: 12px;
}
.slogan h2 {
  padding-bottom: 12px;
  color: var(--white);
}
.slogan p {
  padding-bottom: 18px;
  font-size: 1.125em;
  color: var(--white);
}
.drapeau {
  margin: 0 auto;
}
/* Restaurant */
.restaurant {
 padding-bottom: 0px;
}
/* Slider */
.slider ul {
  padding: 0;
  list-style: none;
  display: flex;
  width: max-content;
  animation: runSlider 40s linear infinite;
}
.slider img {
  height: auto;
  margin: 0 12px;
}
.slider li {
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
.slider {
  width: 100%;
  overflow: hidden;
}
@keyframes runSlider {
  from{
    transform: translateX(0);
  } to {
    transform: translateX(-2663px);
  }
}
/* Prestations */
.card-la-carte, .card-la-cave {
  width: 100%;
  min-height: 680px;
  padding: 60px;
  background-color: var(--blue1);
  border-radius: 24px;
}
.card-la-carte h4, .card-la-cave h4 {
  margin-bottom: 16px;
}
.card-la-carte p, .card-la-cave p {
  color: var(--white);
  font-size: 1em;
  line-height: 1.375em;
  font-weight: 300;
  margin-top: 60px;
}
.card-la-carte {
  background-image: url(/images/bg-card-la-carte.png);
  background-size: cover;
  background-position: top;
}
.card-la-cave {
  background-image: url(/images/bg-card-la-cave.png);
  background-size: cover;
  background-position: top;
}
/* Qui Sommes-Nous */
.qui-sommes-nous {
  background-color: var(--black2);
  background-image: url(/images/bg-qui-sommes-nous.png);
  background-repeat: no-repeat;
  background-position-y: middle;
  background-size: 50%;
}
.qui-sommes-nous h2 {
  color: var(--white);
}
.texte-presentation {
  grid-column-start: 2;
  grid-column-end: 3;
}
.texte-presentation p {
  padding: 0 0 20px 60px;
  color: var(--white);
  text-align: left;
}
/* Infos Pratiques */
.map-container {
  width: 100%;
  height: 600px;
  border-radius: 24px;
  overflow: hidden;
  background-color: #000000;
}
.map-container iframe {
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.acces, .horaires, .services {
  margin-bottom: 40px;
}
.acces h4, .horaires h4,
.services h4, .paiement h4 {
  text-align: left;
  margin-bottom: 16px;
}
.acces ul li, .horaires ul li,
.services p, .paiement p {
  list-style: none;
  font-size: 1em;
  line-height: 1.5em;
  text-align: left !important;
}
.adresse::before {
  content: url(/images/icons/icon-adresse.png);
  margin-right: 6px;
  vertical-align: middle;
}
.parking::before {
  content: url(/images/icons/icon-parking.png);
  margin-right: 6px;
  vertical-align: middle;
}
.bus::before {
  content: url(/images/icons/icon-bus.png);
  margin-right: 6px;
  vertical-align: middle;
}
