/* --- Reset CSS --- */
* {
  all: unset;
  display: revert;
  box-sizing: border-box;
}
a:hover {
  cursor: pointer;
}
input {
  cursor: text;
}

/* --- Couleurs --- */
:root {
  --black1: #000000;
  --black2: #000814;
  --blue1: #001d3d;
  --blue2: #003566;
  --blue3: #F5F7F9;
  --yellow1: #ffc300;
  --yellow2: #ffd60a;
  --grey1: #AEAEAE;
  --grey2: #D9D9D9;
  --white: #FFFFFF;
}
.white {
  color: #FFFFFF !important;
}
.red {
  color: #E1000F;
}

/* --- Typographies --- */
h1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 6.25em;
  background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-align: center;
}
h2 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2.625em;
  color: var(--blue2);
  text-align: center;
}
h3 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-align: center;
}
h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  line-height: normal;
  background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-align: center;
}
h5 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
  line-height: normal;
  color: var(--white);
  text-align: center;
}
h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.125em;
  line-height: normal;
  color: var(--white);
  text-align: left;
  text-transform: uppercase;
}
p, li {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125em;
  line-height: 1.5;
  color: var(--black2);
  text-align: center;
}
button,
input,
select,
textarea {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  color: var(--grey1);
}
textarea {
  vertical-align: top;
}
::placeholder {
  color: var(--grey1);
  font-size: 1em;
  line-height: normal;
}
input:focus[type="text"], input:focus[type="tel"],
input:focus[type="email"], input:focus[type="datetime-local"],
textarea:focus {
  background: rgba(0, 8, 20, 0.5);
  color: var(--grey1);
  border: 1px solid var(--white);
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

/* --- Général --- */
.mtb-20 {
  margin: 20px 0 !important;
}
.mb-80 {
  margin-bottom: 80px;
}

header {
  display: flex;
  flex-direction: column;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
section {
  width: 100%;
  padding: 80px 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 24px;
  background-color: var(--black2);
}
.head-degr-1 {
  width: 100%;
  height: 690px !important;
  flex-shrink: 0;
  background: linear-gradient(#000814, #001D3D);
}
.head-degr-2 {
  width: 100%;
  height: 690px !important;
  flex-shrink: 0;
  background: linear-gradient(#001D3D, #000814);
}
.container {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.small-container {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.full-container {
  width: 100%;
}
.fle-dir-col-cen-bot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.grid-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 24px;
  overflow: hidden;
}
.grid-3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 24px;
  overflow: hidden;
}
.grid-1-3-1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: auto;
  gap: 24px;
  overflow: hidden;
}
.grid-roses-bulles {
  grid-column-start: 2;
  grid-column-end: 3;
}
.titre {
  width: 100%;
  margin-bottom: 40px;
}
.texte-intro {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 60px;
}

/* --- CTA --- */
.cta {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.cta a {
  padding: 24px 52px;
  border-radius: 40px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}
.cta a:hover {
  background-color: var(--yellow2);
  color: var(--white);
}
.bg-yel {
  background-color: var(--yellow1);
  color: var(--white);
}
.bg-whi {
  background-color: var(--white);
  color: var(--black2);
}
.bg-blu {
  background-color: var(--blue1);
  color: var(--white);
}

/* --- Navigation --- */
.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 38px 60px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.add-bgcolor-scroll {
  background-color: #001d3d;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 400ms ease-in-out;
}
.remove-bgcolor-scroll {
  background-color: #001d3d00;
  transition: background-color 400ms ease-in-out;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.logo {
  width: 10%;
}
nav ul {
  width: 90%;
  padding: 0;
  margin: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 2fr 2fr;
  grid-gap: 12px;
}
nav li {
  padding-top: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.125em;
  color: var(--white);
}
nav li a {
  text-decoration: none;
}
nav li a:hover {
  text-decoration: none;
  color: var(--yellow2);
}
nav li a:active {
  text-decoration: none;
  color: var(--yellow2);
}
.nav-accueil {
  min-width: 100px;
  grid-column-start: 2;
  grid-column-end: 3;
}
.nav-la-carte {
  min-width: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
}
.nav-a-propos {
  min-width: 100px;
  grid-column-start: 4;
  grid-column-end: 5;
}
.nav-contact {
  min-width: 100px;
  grid-column-start: 5;
  grid-column-end: 6;
}
.nav-telephone {
  min-width: 100px;
  grid-column-start: 7;
  grid-column-end: 8;
  overflow: visible;
}
li.nav-telephone {
  position: relative;
  min-width: 200px;
  font-size: 1.5em;
  background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-align: right;
}
li.nav-telephone::before {
  position: absolute;
  content: url(images/icons/icon-telephone.svg);
  left: 0;
  vertical-align: middle;
}

/* --- Page d'Accueil --- */
/* Header */
header {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  background: radial-gradient(50% 50% at 50% 50%, #003566 0%, #001D3D 50%, #000814 100%);
}
.header-container-accueil {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/bg-header-hp-terrasse.png);
  background-size: cover;
  background-position: center;
}
.slogan {
  width: 100%;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slogan h1 {
  padding-bottom: 12px;
}
.slogan h2 {
  padding-bottom: 12px;
  color: var(--white);
}
.slogan p {
  padding-bottom: 18px;
  font-size: 1.125em;
  color: var(--white);
}
.drapeau {
  margin: 0 auto;
}
/* Restaurant */
.restaurant {
 padding-bottom: 0px;
}
/* Slider */
.slider ul {
  padding: 0;
  list-style: none;
  display: flex;
  width: max-content;
  animation: runSlider 40s linear infinite;
}
.slider img {
  height: auto;
  margin: 0 12px;
}
.slider li {
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
.slider {
  width: 100%;
  overflow: hidden;
}
@keyframes runSlider {
  from{
    transform: translateX(0);
  } to {
    transform: translateX(-2663px);
  }
}
/* Prestations */
.card-la-carte, .card-la-cave {
  width: 100%;
  min-height: 680px;
  padding: 60px;
  background-color: var(--blue1);
  border-radius: 24px;
}
.card-la-carte h4, .card-la-cave h4 {
  margin-bottom: 16px;
}
.card-la-carte p, .card-la-cave p {
  color: var(--white);
  font-size: 1em;
  line-height: 1.375em;
  font-weight: 300;
  margin-top: 60px;
}
.card-la-carte {
  background-image: url(images/bg-card-la-carte.png);
  background-size: cover;
  background-position: top;
}
.card-la-cave {
  background-image: url(images/bg-card-la-cave.png);
  background-size: cover;
  background-position: top;
}
/* Qui Sommes-Nous */
.qui-sommes-nous {
  background-color: var(--black2);
  background-image: url(images/bg-qui-sommes-nous.png);
  background-repeat: no-repeat;
  background-position-y: middle;
  background-size: 50%;
}
.qui-sommes-nous h2 {
  color: var(--white);
}
.texte-presentation {
  grid-column-start: 2;
  grid-column-end: 3;
}
.texte-presentation p {
  padding: 0 0 20px 60px;
  color: var(--white);
  text-align: left;
}
/* Infos Pratiques */
.acces, .horaires,
.services, .paiement {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-bottom: 16px;
}
.acces {
  grid-row-start: 1;
  grid-row-end: 2;
}
.horaires {
  grid-row-start: 2;
  grid-row-end: 3;
}
.services {
  grid-row-start: 3;
  grid-row-end: 4;
}
.paiement {
  grid-row-start: 4;
  grid-row-end: 5;
}
.map-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  width: 100%;
  height: 600px;
  border-radius: 24px;
  overflow: hidden;
}
.map-container iframe {
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.acces h4, .horaires h4,
.services h4, .paiement h4 {
  text-align: left;
  margin-bottom: 16px;
}
.acces ul li, .horaires ul li,
.services p, .paiement p {
  list-style: none;
  font-size: 1em;
  line-height: 1.5em;
  text-align: left !important;
}
.adresse::before {
  content: url(images/icons/icon-adresse.png);
  margin-right: 6px;
  vertical-align: middle;
}
.parking::before {
  content: url(images/icons/icon-parking.png);
  margin-right: 6px;
  vertical-align: middle;
}
.bus::before {
  content: url(images/icons/icon-bus.png);
  margin-right: 6px;
  vertical-align: middle;
}
/* Contact */
section.contact {
  background-color: var(--blue3);
}
.reservation-container {
  width: 100%;
}
.tel-contact {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  line-height: normal;
  background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-align: center;
  margin: 16px 0;
}
.reservation-mentions {
  font-weight: 700;
  font-size: 0.75em;
}
/* Footer */
.coordonnees h6, .sous-navigation h6, .reseaux-sociaux h6 {
  margin-bottom: 20px;
}
.coordonnees {
  grid-column-start: 1;
  grid-column-end: 2;
  max-width: 230px;
  margin: 0 auto;
}
.sous-navigation {
  grid-column-start: 2;
  grid-column-end: 3;
  max-width: 110px;
  margin: 0 auto;
}
.reseaux-sociaux {
  grid-column-start: 3;
  grid-column-end: 4;
  max-width: 170px;
  margin: 0 auto;
}
.mentions-legales {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
}
.coordonnees ul, .sous-navigation ul, .reseaux-sociaux ul {
  list-style: none;
}
.reseaux-sociaux li {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 12px;
}
.coordonnees li, .sous-navigation li, .reseaux-sociaux li {
  color: var(--grey1) !important;
  font-size: 1em;
  text-align: left;
  padding-bottom: 20px;
}
.mentions-legales p {
  color: var(--grey1) !important;
  font-size: 1em;
  text-align: center;
}
.dev-nm {
  content: url(images/icons/icon-nm.png);
}

/* --- La Carte --- */
/* Header */
.header-container-carte {
  width: 100%;
  height: 790px !important;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: url(images/bg-header-la-carte.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
.slideshow-plats {
  width: 100%;
  height: auto;
  padding: 0 0 80px 0;
  background-color: var(--blue1);
  background: linear-gradient(#001D3D, #000814);
  display: flex;
  justify-content: center;
}
.content-slideshow-plats {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  border-radius: 24px;
  display: flex;
  align-items: center;
}
.content-slideshow-plats img {
  width: fit-content;
}
.slideshow-dot {
  display: none;
}
/* Menu & Carte */
.filter-buttons {
  display: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.125em;
  line-height: normal;
  color: var(--grey1);
}
.menu-radio {
  padding: 0 16px;
}
.filter-buttons-desktop {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.125em;
  line-height: normal;
  color: var(--white);
}
.filter-buttons-desktop input[type="radio"] {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 16px;
  height: 16px;
  margin: 0;
  border-radius: 50%;
  background-color: var(--white);
}
label {
  margin: 0 2px 0 0;
  cursor: pointer;
}
input[type="radio"].bt-radio {
  display: none;
}
input[type="radio"].bt-radio + label {
  position: relative;
  padding-left: 24px;
  padding-top: 10px;
}
input[type="radio"].bt-radio + label::before,
input[type="radio"].bt-radio + label::after {
  display: block;
  position: absolute;
  box-sizing: border-box;
  content:'';
  border-radius: 1rem;
}
input[type="radio"].bt-radio + label::before {
  bottom: 3px;
  left: 3px;
  border: 1px solid var(--grey1);
  background-color: var(--grey2);
  width: 1rem;
  height: 1rem;
}
input[type="radio"].bt-radio + label::after {
  bottom: 6px;
  left: 6px;
  width: calc(1rem - 6px);
  height: calc(1rem - 6px);
}
input[type="radio"].bt-radio:checked + label::after {
  background-color: var(--yellow2);
}
.card-vins {
  display: none;
}
.card-vins.active {
  display: block;
}
.card-wrapper {
  width: 100%;
  height: fit-content;
  border-radius: 24px;
  border: 1px solid #D9D9D9;
  padding: 40px 20px 16px 20px;
  display: flex;
  display: block;
  flex-direction: column;
}
.head-card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.prix {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  line-height: normal;
  color: var(--black2);
}
.content-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}
.content-card ul {
  width: 100%;
  list-style: none;
}
.content-card li {
  width: 100%;
  height: 96px;
  text-align: left;
  line-height: normal;
  padding: 24px 0;
  border-top: 1px solid #DEDEDE;
  display: flex;
  align-items: center;
}
.content-card .grid-2 {
  grid-template-columns: 5fr 1fr;
  gap: 0px;
}
.list-carte li {
padding-right: 8px;
}
.list-prix li {
  justify-content: end;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  line-height: normal;
  color: var(--black2);
}
/* Cave */
.cave {
  width: 100%;
  height: fit-content;
  padding-bottom: 20px !important;
  background-image: url(images/bg-cave.png);
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-color: var(--black2);
}
.cave h2 {
  color: var(--white);
}
.vins-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;
}
.vins-container h5 {
  margin-bottom: 24px;
}
.result-vins {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-vin {
  width: 100%;
  height: fit-content;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.result-vins h4 {
  width: 100%;
  margin-top: 60px;
  text-transform: uppercase;
  font-weight: 300;
}
.content-result {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 0 24px;
}
.content-result ul {
  width: 100%;
  list-style: none;
}
.content-result li {
  width: 100%;
  height: 40px;
  text-align: left;
  line-height: normal;
  display: flex;
  align-items: center;
}
.content-result .grid-2 {
  grid-template-columns: 5fr 1fr;
  gap: 0px;
}
.card-vins .head-card {
  margin-bottom: 0;
}
.table-result {
  width: 100% !important;
  border: 0;
  margin-top: 60px;
}
.region {
  width: 100%;
  padding-bottom: 24px;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
  line-height: normal;
  color: var(--white);
}
.list-vins {
  width: 80%;
  text-align: left;
  vertical-align: middle;
  padding-bottom: 8px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.125em;
  line-height: normal;
  color: var(--white);
}
.list-prix-vins {
  width: 20%;
  text-align: right;
  vertical-align: top;
  padding-bottom: 8px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  line-height: normal;
  color: var(--white);
  justify-content: end;
}

/* --- A Propos --- */
/* Header */
.header-container-a-propos {
  width: 100%;
  height: 790px !important;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: url(images/bg-header-a-propos.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
/* Swiper JS */
.bg-swiper {
  width: 100%;
  height: fit-content;
  padding: 0 24px 80px 24px;
  background-color: var(--blue1);
  background: linear-gradient(#000814, #001D3D);
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper {
  max-width: 1280px;
  height: fit-content;
  margin: 0 auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 40px;
}
.swiper-title, .swiper-text {
  max-width: 960px;
  padding: 0 24px;
  height: fit-content !important;
  margin: 0 auto;
}
.swiper-title {
  margin-bottom: 40px;
}
.swiper-title h2, .swiper-text p {
  color: var(--white);
}
.swiper-text {
  margin-bottom: 40px;
}
.swiper-button-next, .swiper-button-prev {
  position: absolute !important;
  top: var(--swiper-navigation-top-offset, 80%) !important;
  color: var(--white) !important;
}
.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background: var(--grey1) !important;
  opacity: 0.8 !important;
  border: 2px solid white;
}
.swiper-pagination-bullet-active {
  width: 16px !important;
  height: 16px !important;
  background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%) !important;
  border: 2px solid white;
}
/* Fournisseurs */
.slideshow-fournisseurs {
  width: fit-content;
}
.fournisseur-card {
  margin-bottom: 16px;
}
.fournisseur-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.fournisseur-card p {
  font-size: 1em;
  line-height: normal;
  padding: 0 8px;
}
.fournisseur-card h5 {
  font-size: 1.5em;
  line-height: normal;
  color: var(--blue2);
  font-weight: 500;
  margin-bottom: 16px;
}
.boulanger {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 0px !important;
}

/* --- Contact --- */
/* Header */
.header-container-contact {
  width: 100%;
  height: 790px !important;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: url(images/bg-header-contact.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
.formulaire {
  width: 100%;
  height: fit-content;
  padding: 0 0 80px 0;
  background-color: var(--blue1);
  background: linear-gradient(#000814, #001D3D);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Formulaire */
form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form-champ {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.formulaire label {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.625em;
  line-height: normal;
  background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-align: left;
  margin-bottom: 16px;
}
input[type="text"], input[type="tel"],
input[type="email"], input[type="datetime-local"] {
  border: 1px solid #AEAEAE;
  border-radius: 8px;
  padding: 20px 24px;
  margin-bottom: 6px;
  -webkit-appearance: none;
}
textarea {
  min-height: 180px;
  border: 1px solid #AEAEAE;
  border-radius: 8px;
  padding: 20px 24px;
  -webkit-appearance: none;
}
.commentaire, .cta-envoyer,
.mentions-formulaire {
  grid-column-start: 1;
  grid-column-end: 4;
}
.cta-envoyer {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}
.btn-envoyer {
  padding: 24px 52px;
  border-radius: 40px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.125em;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--white);
  color: var(--black2);
}
.btn-envoyer:hover {
  background-color: var(--yellow2);
  color: var(--white);
}
.mentions-formulaire p {
  font-size: 1em;
  line-height: normal;
  color: var(--white);
  margin-top: 8px;
}
/* ------------------------------------------- */
/* -------------- MEDIA QUERIES -------------- */
/* ------------------------------------------- */

/* --- Tablet --- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* --- Typographies --- */
  h1 {
    font-size: 3.75em;
    line-height: normal;
  }
  h2 {
    font-size: 2.5em;
    line-height: normal;
  }
  h3 {
    font-size: 2em;
    line-height: normal;
  }
  h4 {
    font-size: 2em;
    line-height: normal;
  }
  h5 {
    font-size: 1.250em;
    line-height: normal;
  }
  h6 {
    font-size: 1.125em;
    line-height: normal;
  }
  p {
    font-size: 1em;
    line-height: normal;
  }

  /* Général */
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .small-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .full-container {
    width: 100%;
  }

  /* Navigation Tablet */
  .add-bgcolor-scroll {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease;
  }
  .remove-bgcolor-scroll {
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: visible;
    top: 0;
    padding: 0;
    background-color: var(--blue1);
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
  }
  nav {
    width: 100%;
    padding: 40px 24px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .logo img {
    width: 60px;
  }
  nav ul {
    position: absolute;
    list-style: none;
    background-color: #000814b8;
    backdrop-filter: blur(10px);
    top: 148px;
    width: 100% !important;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
  }
  .nav-container.active ul {
    display: block;
  }
  #icon {
    position: absolute;
    right: 24px;
    cursor: pointer;
  }
  #icon::before {
    content: "\2630";
    color: var(--white);
    font-size: 2em;
  }
  .nav-container.active #icon::before {
    content: "\2715";
  }
  nav li {
    max-width: 260px;
    height: 60px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.125em;
    color: var(--white);
  }
  nav li a {
    text-decoration: none;
  }
  nav li a:hover {
    text-decoration: none;
    color: var(--yellow2);
  }
  nav li a:active {
    text-decoration: none;
    color: var(--yellow2);
  }
  li.nav-telephone {
    font-size: 1.5em;
    background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    text-align: center;
  }
  li.nav-telephone::before {
    content: url(images/icons/icon-telephone.svg);
    vertical-align: middle;
  }

  /* --- Page d'Accueil --- */
  /* Header */
  .slogan p {
    color: #6D879F;
  }

  /* Intro Restaurant */
  .restaurant .texte-intro {
    padding: 0 24px 40px 24px;
  }

  /* Prestations */
  .prestations .texte-intro {
    padding: 0 24px 40px 24px;
  }

  .card-la-carte, .card-la-cave {
    min-height: 480px;
    padding: 60px 24px;
  }
  .card-la-carte p, .card-la-cave p {
    margin-top: 40px;
  }

  /* Qui Sommes-Nous */
  .qui-sommes-nous {
    background-color: var(--black2);
    background-image: url(images/bg-qui-sommes-nous-mb.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    background-size: cover;
  }
  .texte-presentation {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 340px;
  }
  .texte-presentation p {
    padding: 0 24px;
    color: var(--white);
    text-align: left;
  }

  /* Infos Pratiques */
  .acces, .map-container {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 16px;
  }
  .acces {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0 24px;
  }
  .map-container {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .horaires {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 0 24px;
    margin-bottom: 16px;
  }
  .services {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 0 0 0 24px;
    margin-bottom: 0px !important;
  }
  .paiement {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 0 24px 0 0;
    margin-bottom: 0px !important;
  }

  /* Footer */
  #footer {
    width: 100%;
  }
  .coordonnees {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .sous-navigation {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .reseaux-sociaux {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .mentions-legales {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .reseaux-sociaux ul {
    display: flex;
    justify-content: space-around;
  }
  .reseaux-sociaux li {
    margin-right: 0px;
  }
  .coordonnees h6, .coordonnees li,
  .sous-navigation h6, .sous-navigation li,
  .reseaux-sociaux h6, .reseaux-sociaux li {
    text-align: center;
  }
  .mentions-legales p {
    text-align: center;
  }

  /* --- Page La Carte --- */
  /* Header */
  .header-container-carte {
    width: 100%;
    height: auto;
    padding: 0 24px 20px 24px;
    background-image: url(images/bg-header-la-carte.png);
    background-position-y: 148px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .header-container-carte .texte-intro {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px 20px 24px;
  }
  .slideshow-plats {
    width: 100%;
    padding: 0 24px 80px 24px;
    background-color: var(--blue1);
    background: linear-gradient(#001D3D, #000814);
    position: relative;
    margin: auto;
  }
  .content-slideshow-plats {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    border-radius: 24px;
    display: flex;
    align-items: center;
  }
  .content-slideshow-plats img {
    width: 100%;
  }
  /* Menu */
  .card-wrapper {
    grid-column-start: 1;
    grid-column-end: 4;
    display: none; /* Cache les cards sur mobile */
  }
  .card-wrapper.active {
    display: block; /* Affiche les cards sur mobile */
  }
  .filter-buttons {
    width: 600px;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 4;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .menu-radio {
    margin: 0;
    padding: 0;
  }
  .filter-buttons label {
    margin: 0;
  }
  .content-card li {
    font-size: 1em;
    padding-bottom: 16px;
  }

  /* Menu */
  .cave .texte-intro {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px 60px 24px;
  }
  .result-vins {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-vins {
    width: 100%;
  }
  .list-vins {
    vertical-align: middle;
    padding-bottom: 16px;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.125em;
    line-height: normal;
    color: var(--white);
  }
  .list-prix-vins {
    vertical-align: top;
    padding-bottom: 16px;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
    line-height: normal;
    color: var(--white);
    justify-content: end;
  }
  .list-prix li, .list-prix-vins li {
    font-size: 1.250em;

  }
  .vins-rouges .grid-2 .content-result,
  .vins-blancs .grid-2 .content-result {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .vins-roses .grid-1-3-1 .grid-roses-bulles,
  .vins-bulles .grid-1-3-1 .grid-roses-bulles {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  /* --- Page A Propos --- */
  /* Header */
  .header-container-a-propos {
    width: 100%;
    height: auto;
    padding: 0 24px 20px 24px;
    background-image: url(images/bg-header-a-propos.png);
    background-position-y: 148px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .header-container-a-propos .texte-intro {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px 20px 24px;
  }
  /* Swiper */
  .bg-swiper {
    padding: 0 24px;
  }
  .swiper {
    margin-top: 20px;
    height: fit-content;
  }
  .swiper-slide {
    font-size: 1em;
  }
  .swiper-img img {
    margin-bottom: 40px;
  }
  .swiper-text {
    height: fit-content !important;
    padding: 0 24px;
    margin-bottom: 80px;
  }
  .swiper-text p {
    line-height: 1.5em;
    text-align: left;
  }
  .swiper-button-next, .swiper-button-prev {
    position: absolute !important;
    top: var(--swiper-navigation-top-offset, 190px) !important;
    color: var(--white) !important;
  }
  .swiper-pagination {
    position: absolute !important;
    top: var(--swiper-navigation-top-offset, 168px) !important;
    color: var(--white) !important;
  }
  .swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    background: var(--grey1) !important;
    opacity: 0.8 !important;
    border: 2px solid white;
  }
  .swiper-pagination-bullet-active {
    width: 16px !important;
    height: 16px !important;
    background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%) !important;
    border: 2px solid white;
  }
  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 24px !important;
    font-weight: 900;
  }

  /* Fournisseurs */
  .fournisseurs .texte-intro {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    margin-bottom: 60px;
  }
  .slideshow-fournisseurs {
    width: 100%;
    height: fit-content;
    padding: 0 24px;
    position: relative;
    margin: auto;
  }
  .fournisseur-text h4 {
    font-size: 1.5em;
    line-height: normal;
  }
  .fournisseur-text h5 {
    font-size: 1.250em;
    line-height: normal;
  }
  .fournisseur-text p {
    font-size: 1em;
    line-height: normal;
  }
}

/* --- Smartphone --- */
@media screen and  (max-width: 767px) {
  /* --- Typographies --- */
  h1 {
    font-size: 3.75em;
    line-height: normal;
  }
  h2 {
    font-size: 2.5em;
    line-height: normal;
  }
  h3 {
    font-size: 2em;
    line-height: normal;
  }
  h4 {
    font-size: 2em;
    line-height: normal;
  }
  h5 {
    font-size: 1.5em;
    line-height: normal;
  }
  h6 {
    font-size: 1.125em;
    line-height: normal;
  }
  p {
    font-size: 1em;
    line-height: normal;
  }

  /* Général */
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .small-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .full-container {
    width: 100%;
  }
  .head-degr-1 {
    width: 100%;
    height: 80vh !important;
    flex-shrink: 0;
    background: linear-gradient(#000814, #001D3D);
  }
  .texte-intro {
    font-size: 1em;
  }

  /* --- CTA --- */
  .cta {
    margin-top: 40px;
  }

  /* Navigation mobile */
  .add-bgcolor-scroll {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease;
  }
  .remove-bgcolor-scroll {
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: visible;
    top: 0;
    padding: 0;
    background-color: var(--blue1);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  }
  nav {
    width: 100%;
    padding: 40px 24px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .logo img {
    width: 60px;
  }
  nav ul {
    position: absolute;
    list-style: none;
    background-color: #000814b8;
    backdrop-filter: blur(10px);
    top: 148px;
    width: 100% !important;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
  }
  .nav-container.active ul {
    display: block;
  }
  #icon {
    position: absolute;
    right: 24px;
    cursor: pointer;
  }
  #icon::before {
    content: "\2630";
    color: var(--white);
    font-size: 2em;
  }
  .nav-container.active #icon::before {
    content: "\2715";
  }
  nav li {
    max-width: 260px;
    height: 60px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.125em;
    color: var(--white);
  }
  nav li a {
    text-decoration: none;
  }
  nav li a:hover {
    text-decoration: none;
    color: var(--yellow2);
  }
  nav li a:active {
    text-decoration: none;
    color: var(--yellow2);
  }
  li.nav-telephone {
    font-size: 1.5em;
    background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    text-align: center;
  }
  li.nav-telephone::before {
    content: url(images/icons/icon-telephone.svg);
    vertical-align: middle;
  }

  /* --- Page d'Accueil --- */
  /* Header */
  .slogan p {
    color: #6D879F;
  }

  /* Intro Restaurant */
  .restaurant .texte-intro {
    padding: 0 24px 40px 24px;
  }

  /* Prestations */
  .prestations .texte-intro {
    padding: 0 24px 40px 24px;
  }

  .card-la-carte, .card-la-cave {
    grid-column-start: 1;
    grid-column-end: 3;
    min-height: 480px;
    padding: 60px 24px;
  }
  .card-la-carte p, .card-la-cave p {
    margin-top: 40px;
  }

  /* Qui Sommes-Nous */
  .qui-sommes-nous {
    background-color: var(--black2);
    background-image: url(images/bg-qui-sommes-nous-mb.png);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-size: 100%;
  }
  .texte-presentation {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 340px;
  }
  .texte-presentation p {
    padding: 0 24px;
    color: var(--white);
    text-align: left;
  }

  /* Infos Pratiques */
  .acces, .map-container,
  .horaires, .services,
  .paiement {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 16px;
  }
  .acces {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .map-container {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .horaires {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .services {
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .paiement {
    grid-row-start: 5;
    grid-row-end: 6;
    margin-bottom: 0px !important;
  }

  /* Footer */
  .coordonnees, .sous-navigation,
  .reseaux-sociaux, .mentions-legales {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .reseaux-sociaux ul {
    display: flex;
    justify-content: space-around;
  }
  .reseaux-sociaux li {
    margin-right: 0px;
  }
  .coordonnees h6, .coordonnees li,
  .sous-navigation h6, .sous-navigation li,
  .reseaux-sociaux h6, .reseaux-sociaux li,
  .mentions-legales p {
    text-align: center;
  }

  /* --- Page La Carte --- */
  /* Header */
  .header-container-carte {
    width: 100%;
    height: auto;
    padding: 0 24px 20px 24px;
    background-image: url(images/bg-header-la-carte-mb.png);
    background-position-y: 148px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .header-container-carte .texte-intro {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px 20px 24px;
  }
  .slideshow-plats {
    width: 100%;
    padding: 0 24px 80px 24px;
    background-color: var(--blue1);
    background: linear-gradient(#001D3D, #000814);
    position: relative;
    margin: auto;
  }
  .content-slideshow-plats {
    display: none;
    width: 100%;
    height: 260px;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .content-slideshow-plats img {
    width: 100%;
    height: auto;
  }
  .slides-dot {
    display: block;
    margin-top: 20px;
  }
  .dot {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 2px;
    background-color: var(--grey2);
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active-dot, .dot:hover {
    background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%);
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* Menu */
  .card-wrapper {
    grid-column-start: 1;
    grid-column-end: 4;
    display: none; /* Cache les cards sur mobile */
  }
  .card-wrapper.active {
    display: block; /* Affiche les cards sur mobile */
  }
  .filter-buttons {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .menu-radio {
    margin: 0;
    padding: 0;
  }
  .filter-buttons label {
    margin: 0;
  }
  .content-card li {
    font-size: 1em;
    padding-bottom: 16px;
  }
  .card-vins {
    width: 100%;
  }
  .list-vins {
    vertical-align: middle;
    padding-bottom: 16px;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.125em;
    line-height: normal;
    color: var(--white);
  }
  .list-prix-vins {
    vertical-align: top;
    padding-bottom: 16px;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
    line-height: normal;
    color: var(--white);
    justify-content: end;
  }
  .list-prix li, .list-prix-vins li {
    font-size: 1.250em;

  }
  .vins-rouges .grid-2 .content-result,
  .vins-blancs .grid-2 .content-result {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .vins-roses .grid-1-3-1 .grid-roses-bulles,
  .vins-bulles .grid-1-3-1 .grid-roses-bulles {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  /* --- Page A Propos --- */
  /* Header */
  .header-container-a-propos {
    width: 100%;
    height: auto;
    padding: 0 24px 20px 24px;
    background-image: url(images/bg-header-a-propos-mb.png);
    background-position-y: 148px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .header-container-a-propos .texte-intro {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px 20px 24px;
  }

  /* Swiper */
  .bg-swiper {
    padding: 0 24px;
  }
  .swiper {
    margin-top: 20px;
    height: fit-content;
  }
  .swiper-slide {
    font-size: 1em !important;
  }
  .swiper-img img {
    margin-bottom: 40px;
  }
  .swiper-text {
    height: fit-content !important;
    padding: 0 24px;
    margin-bottom: 80px;
  }
  .swiper-text p {
    line-height: 1.5em;
    text-align: left;
  }
  .swiper-button-next, .swiper-button-prev {
    position: absolute !important;
    top: var(--swiper-navigation-top-offset, 98px) !important;
    color: var(--white) !important;
  }
  .swiper-pagination {
    position: absolute !important;
    top: var(--swiper-navigation-top-offset, 168px) !important;
    color: var(--white) !important;
  }
  .swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    background: var(--grey1) !important;
    opacity: 0.8 !important;
    border: 2px solid white;
  }
  .swiper-pagination-bullet-active {
    width: 16px !important;
    height: 16px !important;
    background: linear-gradient(0deg, rgba(255,195,0,1) 0%, rgba(255,214,10,1) 100%) !important;
    border: 2px solid white;
  }
  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 24px !important;
    font-weight: 900;
  }

  /* Fournisseurs */
  .fournisseurs .texte-intro {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    margin-bottom: 60px;
  }
  .slideshow-fournisseurs {
    width: 100%;
    height: fit-content;
    padding: 0 24px;
    position: relative;
    margin: auto;
  }
  .content-slideshow-fournisseurs {
    display: none;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .fournisseur-card {
    margin-bottom: 20px;
  }
  .fournisseur-text h4 {
    font-size: 1.5em;
    line-height: normal;
  }
  .fournisseur-text h5 {
    font-size: 1.250em;
    line-height: normal;
  }
  .fournisseur-text p {
    font-size: 1em;
    line-height: normal;
  }

  /* --- Page Contact --- */
  /* Header */
  .header-container-contact {
    width: 100%;
    height: auto;
    padding: 0 24px 20px 24px;
    background-image: url(images/bg-header-contact-mb.png);
    background-position-y: 148px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .header-container-contact .texte-intro {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px 20px 24px;
  }

  /* Formulaire */
  .formulaire {
    padding: 20px 24px 80px 24px;
  }
  .form-champ {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
